.navbar {
  background-color: #FFFFFF;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  .navContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
  }

  .logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .navText {
    margin-left: 10px;

    h1 {
      font-size: 20px;
      color: #000000;
      margin: 0;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      color: #8C8CA1;
      margin: 0;
    }
  }

  .timeContainer {
    display: flex;
    align-items: center;


    .timer {
      display: flex;
      align-items: center;
      background-color: #EAEAFF;
      padding: 10px 20px;
      border-radius: 12px;  


      p {
        color: #7F3DFF;
        font-weight: bold;
        margin-left: 5px;
        font-size: 14px;
      }
    }

    .icon {
      color: #7F3DFF;
      width: 20px;
      height: 20px;
    }

    .viewButton {
      background-color: #EAEAFF;
      border: none;
      margin-left: 15px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EAEAFF;
      padding: 10px 20px;
      border-radius: 12px;  


      svg {
        color: #7F3DFF;
        width: 18px;
        height: 18px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 10px ;

    .navText h1 {
      font-size: 12px;
    }

    .navText p {
      font-size: 10px;
    }

    .timeContainer {
      padding: 5px;
    }

    .viewButton {
      margin-left: 10px;
      padding: 8px;
    }
  }

  @media (max-width: 480px) {
    padding: 10px;

    .navText h1 {
      font-size: 12px;
    }

    .navText p {
      font-size: 10px;
    }

    .timeContainer p {
      font-size: 10px;
    }

    .icon {
      width: 16px;
      height: 16px;
    }

    .viewButton {
      padding: 5px;
    }
  }
}
