.navbar {
  background-color: #FFFFFF;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  .navContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logoContainer {
    display: flex;
    align-items: center;
  }

  .navText {
    margin-left: 10px;

    h1 {
      font-size: 20px;
      color: #000000;
      margin: 0;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      color: #8C8CA1;
      margin: 0;
    }
  }

  .timeContainer {
    display: flex;
    align-items: center;
    background-color: #EAEAFF;
    padding: 5px 10px;
    border-radius: 12px;

    .timer {
      display: flex;
      align-items: center;
      p {
        color: #7F3DFF;
        font-weight: bold;
        margin-left: 5px;
        font-size: 14px;
      }
    }

    .icon {
      color: #7F3DFF;
      width: 20px;
      height: 20px;
    }

    .viewButton {
      background-color: #EAEAFF;
      border: none;
      margin-left: 15px;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        color: #7F3DFF;
        width: 18px;
        height: 18px;
      }
    }
  }

  @media (max-width: 768px) {
    .navContent {
      flex-direction: column;
      align-items: flex-start;
    }

    .timeContainer {
      margin-top: 10px;
      justify-content: flex-end;
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    .navText h1 {
      font-size: 16px;
    }

    .navText p {
      font-size: 12px;
    }

    .timeContainer p {
      font-size: 12px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
